<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>bootstrap test</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<style>
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

.navbar {
  font-size: 13px;
}
</style>
<link rel="stylesheet" href="../css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="../css/bootstrap-extend.css">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<script src="../script/jquery-1.7.2.min.js"></script>
<script src="../script/bootstrap.min.js"></script>
<script>
$("document").ready(function() {
  $("#username").focus();
});
</script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
        </a> <a class="brand" href="#">星传媒后台管理系统</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">管理平台</a></li>
            <li><a href="#settings">个人设置</a></li>
            <li><a href="#about">关于</a></li>
          </ul>
          <p class="navbar-text pull-right">
            欢迎您！ <a href="#">demo</a>
          </p>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li class="nav-header">系统权限管理</li>
            <li><a href="#">系统角色管理</a></li>
            <li><a href="#">系统模块授权</a></li>
            <li class="active"><a href="userList.html">用户信息管理</a></li>
            <li class="nav-header">后台任务管理</li>
            <li><a href="#">定时任务管理</a></li>
            <li class="nav-header">网页广告系统管理</li>
            <li><a href="#">广告预定</a></li>
            <li><a href="#">选项管理</a></li>
            <li><a href="#">广告一栏</a></li>
            <li><a href="#">广告位管理</a></li>
          </ul>
        </div>
        <!--/.well -->
      </div>
      <!--/span-->

      <div class="span10">
        <!--
              <div class="page-header">
                <h3>用户信息维护 -&gt; 添加用户信息</h3>
              </div>
              -->
        <div class="tabbable">
          <ul class="nav nav-tabs">
            <li><a href="userList.html">用户信息列表</a></li>
            <li class="active"><a href="user.html">新增用户信息</a></li>
            <li class="disabled"><a>修改用户信息</a></li>
          </ul>
          <!--  
                  <div class="tab-content">
                    <div class="tab-pane active" id="1">
                    </div>
                    <div class="tab-pane" id="2">
                    </div>
                  </div>-->
        </div>

        <div class="row">
          <div class="span3">
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">&times;</a> <strong>错误信息</strong> 用户名已经存在
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="alert alert-warning">
              <a class="close" data-dismiss="alert">&times;</a> <strong>警告信息</strong> 密码设置过于简单
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span5">
            <div class="alert alert-success">
              <a class="close" data-dismiss="alert">&times;</a> <strong>成功信息</strong> 用户添加完毕
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <div class="alert alert-info">
              <a class="close" data-dismiss="alert">&times;</a> <strong>提示信息</strong> 请使用实际存在的邮箱地址
            </div>
          </div>
        </div>

        <form class="form-horizontal">
          <fieldset>
            <!--  
            <legend>Form control states</legend>
            -->
            <div class="control-group">
              <label class="control-label">用户 ID</label>
              <div class="controls">
                <span class="input-xlarge uneditable-input">1024</span> <span class="help-inline">用户在系统中的唯一编号</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">用户名</label>
              <div class="controls">
                <input class="input-xlarge" id="username" type="text" value=""> <span class="help-inline">用户登录系统的标识号</span>
              </div>
            </div>
            <div class="control-group error">
              <label class="control-label" for="nickname">用户昵称</label>
              <div class="controls">
                <input type="text" id="nickname"> <span class="help-inline">用户的昵称</span>
              </div>
            </div>
            <div class="control-group success">
              <label class="control-label" for="realName">真实姓名</label>
              <div class="controls">
                <input type="text" id="realName"> <span class="help-inline">用户的真实姓名</span>
              </div>
            </div>
            <div class="control-group warning">
              <label class="control-label" for="email">邮箱地址</label>
              <div class="controls">
                <input type="text" id="email"> <span class="help-inline">用户的电子邮箱地址</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="mobile">手机号码</label>
              <div class="controls">
                <input class="input-medium disabled" id="mobile" type="text" placeholder="13588888888" disabled>
                <span class="help-inline">用户的手机号码</span>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">用户性别</label>
              <div class="controls">
                <label class="radio"> <input type="radio" name="sex" id="male" value="1" checked> 男
                </label> <label class="radio"> <input type="radio" name="sex" id="female" value="2"> 女
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="hobby">兴趣爱好</label>
              <div class="controls">
                <label class="checkbox"> <input type="checkbox" name="hobby" value="1"> 看书、读报
                </label> <label class="checkbox"> <input type="checkbox" name="hobby" value="2"> 打球、健身
                </label> <label class="checkbox"> <input type="checkbox" name="hobby" value="3"> 喝咖啡、写程序
                </label>
                <p class="help-block">
                  <strong>注意：</strong> 可多选
                </p>
              </div>
            </div>
            <div class="control-group success">
              <label class="control-label" for="level">用户级别</label>
              <div class="controls">
                <select id="level">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> <span class="help-inline">请选择用户目前的级别</span>
              </div>
            </div>
            <div class="form-actions">
              <button type="submit" class="btn btn-primary">保存信息</button>
              <a class="btn" href="userList.html">返回列表</a>
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</body>
</html>
