.add {
    background-image: url( ../imgs/add.png ) !important;
}
.pause {
    background-image: url( ../imgs/pause.png ) !important;
}
.stop {
    background-image: url( ../imgs/ad_stop.gif ) !important;
}
.recover {
    background-image: url( ../imgs/start.png ) !important;
}
.sch_search {
    background-image: url( ../imgs/search1.gif ) !important;
}
.sch_reset {
    background-image: url( ../imgs/sch_reset.png ) !important;
}
.tbar_stop{
	background-image: url( ../imgs/list_stop.png ) !important;
}
.tbar_review{
	background-image: url( ../imgs/list_ok.png ) !important;
}
.tbar_del{
	background-image: url( ../imgs/del.png ) !important;
}
.tbar_upd{
	background-image: url( ../imgs/update.png ) !important;
}
.excel-icon {
    background-image: url('../imgs/excel_icon.gif') !important;
}
