@charset "UTF-8";

html {
  overflow-x: visible;
}

html,div,span,p,select,textarea,input,h4 {
  font-size: 13px;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 10px;
  overflow: visible;
  width: 98%;
}

div {
  overflow: visible;
}

img {
  border: 0px;
}

div#adtitle {
  color: #ffffff;
}

table {
  background-color: #999999;
}

tr {
  background-color: #FFFFFF
}

td {
  line-height: 19px;
  color: #272727
}

span.red {
  color: #FF0000;
}

td span {
  color: #4F81BD;
}

form {
  margin: 0px;
  padding: 0px;
}

.textarea {
  width: 300px;
  height: 100px;
}

.padding {
  padding-left: 8px;
}

.hand {
  cursor: pointer;
}

.arrow {
  font-family: Webdings;
  font-size: 7pt;
  cursor: pointer;
}

.hr {
  height: 1px;
  padding: 0px;
  border-bottom: 1px dotted #333333;
}

#navigator {
  height: 45px;
  background-color: #4F81BD;
  line-height: 45px;
  color: #FFFFFF;
  font-size: 16px;
  padding-left: 10px;
  font-weight: bold;
}

#logininfo {
  height: 16px;
  background-color: #000000;
  padding-left: 10px;
  line-height: 16px;
  color: #FFFFFF;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

#logininfo a {
  color: #FFFFFF;
}

#titleMain {
  height: 100%;
  overflow: hidden;
  margin: 10px 10px 0px 10px;
}

.titleMain {
  height: 100%;
  overflow: hidden;
  margin: 10px 10px 0px 10px;
}

#titleMain div.modules {
  clear: none;
}

div#current {
  width: auto;
  min-width: 90px;
  height: 20px;
  margin-left: 5px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  text-align: center;
  background-color: #4F81BD;
  font-weight: bold;
  color: #FFFFFF;
  border-right: 1px solid #000000;
  cursor: pointer;
}

div.other {
  width: auto;
  min-width: 90px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px; text-align : center;
  float: left;
  background-color: #95B3D7;
  color: #000000;
  border-right: 1px solid #000000;
  cursor: pointer;
  text-align: center;
}

div.unusable {
  width: auto;
  min-width: 90px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  float: left;
  background-color: #95B3D7;
  border-right: 1px solid #000000;
  color: #666666;
  cursor: not-allowed;
}

a.current:link {
  color: #fff;
  text-decoration: none;
}

a.current:active {
  color: #fff;
  text-decoration: none;
}

a.current:visited {
  color: #fff;
  text-decoration: none;
}

a.current:hover {
  color: #fff;
  text-decoration: underline;
}

a.other:link {
  color: #000;
  text-decoration: none;
}

a.other:active {
  color: #000;
  text-decoration: none;
}

a.other:visited {
  color: #000;
  text-decoration: none;
}

a.other:hover {
  color: #000;
  text-decoration: underline;
}

.pagination {
  margin-top: 10px;
  margin-left: 15px;
}

#tableMain {
  width: 98%;
  border: 5px solid #4F81BD;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding-bottom: 10px;
}

#tableMain #description {
  padding-left: 15px;
  padding-top: 15px;
}

#tableMain #condition {
  padding-left: 15px;
  padding-right: 15px;
}

.description {
  margin-top: 10px;
  margin-left: 15px;
}

.message {
  margin-left: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#message {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#message li {
  color: #990000;
}

#message span.msg {
  color: #339933;
  font-weight: bold;
}

#dataTable {
  width: 96%;
  background-color: #4F81BD;
  margin: 10px;
}

#dataTable tr {
  background-color: #FFFFFF;
}

#dataTable tr.titleTr {
  background-color: #95B3D7;
  font-weight: bold;
}

#dataTable td.titleTd {
  background-color: #95B3D7;
  font-weight: bold;
  text-align: right;
}

.dataTable {
  width: 96%;
  background-color: #4F81BD;
  margin: 10px;
}

.dataTable tr {
  background-color: #FFFFFF;
}

.dataTable tr.titleTr {
  background-color: #95B3D7;
  font-weight: bold;
}

.dataTable td.titleTd {
  background-color: #95B3D7;
  font-weight: bold;
  text-align: right;
}

#formMain {
  margin: 10px;
}

#moreInfo {
  margin: 15px;
  text-align: right;
}

#moreOperation {
  text-align: right;
  padding-right: 17px;
  margin-bottom: 10px;
}

#inputTable {
  background-color: #FFFFFF;
  margin: 10px 10px 10px 10px;
}

.copyright {
  text-align: center;
  padding-top: 30px;
}

a:link {
  color: #1243a1;
  text-decoration: none
}

a:active {
  color: #1243a1;
  text-decoration: none
}

a:visited {
  color: #1243a1;
  text-decoration: none
}

a:hover {
  color: #fe7800;
  text-decoration: none
}

.buttonBorder {
  border-left: solid 1px #808080;
  border-top: solid 1px #808080;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

.buttonBorder1 {
  border-left: solid 1px #ffffff;
  border-top: solid 1px #ffffff;
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
}

.border {
  padding-left: 8px;
  border-right: solid 1px #808080;
  border-bottom: solid 1px #808080;
}

.tableHead {
  padding-left: 7px;
  border-bottom: solid 1px #8B8B8B;
  border-left: solid 1px #ffffff;
  border-right: solid 1px #8B8B8B;
}

.tableBorder {
  border-left: 1px #D4D0C8 solid;
  border-bottom: 1px #8B8B8B solid;
  border-right: 2px #D4D0C8 solid;
  border-top: 1px #D4D0C8 solid;
}

.colorButton {
  border-right: #325e5e 1px solid;
  border-top: #95B3D7 1px solid;
  background: #95B3D7;
  border-left: #95B3D7 1px solid;
  cursor: pointer;
  color: #000000;
  border-bottom: #325e5e 1px solid;
  text-decoration: none;
}

#buttonCenter {
  text-align: center;
  margin-bottom: 15px;
}

#buttonRight {
  padding-right: 20px;
  text-align: right;
  margin-bottom: 15px;
}

.groupTitle {
  
}

.title {
  background-repeat: no-repeat;
  padding-left: 5px;
  font-weight: bold;
}

.content {
  margin-left: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}

ul {
  margin: 15px;
  padding: 0;
}

.star {
  color: #FF5800;
}

.unclickedButton {
  border-right: #325e5e 1px solid;
  border-top: #95B3D7 2px solid;
  border-left: #95B3D7 2px solid;
  border-bottom: #325e5e 1px solid;
  background: #95B3D7;
  cursor: pointer;
  color: #000000;
}

.clickedColorButton {
  border-right: #ffffff 1px solid;
  border-top: #000000 2px solid;
  border-left: #000000 2px solid;
  border-bottom: #ffffff 1px solid;
  background: #a5cece;
  cursor: pointer;
  color: #000000;
}

span.schoolName {
  color: navy;
  font-weight: bold;
}

.imgStyle {
  vertical-align: top;
  border: 0px;
}

#serverMark {
  text-align: center;
  color: white;
}

a.colbutt {
  letter-spacing: 3px;
  color: #000;
  background-color: #95B3D7;
  height: 24px;
  padding-right: 7px;
  text-decoration: none
}

a.colbutt:hover {
  color: #000
}

a.colbutt span {
  padding: 1px 1px 3px 11px;
  line-height: 22px
}

a.colbutt:visited {
  color: #000;
  text-decoration: none
}
