@charset "UTF-8";

html {
  overflow-x: visible;
}

html,div,span,p,select,textarea {
  font-size: 18px;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

.chooserList {
  width: 100%;
}

/* 
  Defines width for TEXTAREA input fields.  
  IE will use this setting as an override to the 'cols=?' setting in the HTML tag.
  Netscape 4.x does not recognize this style, however.  Netscape will use the
  'cols=?' setting in the tag only. 
*/
textarea {
  width: 90%;
}

.top-background {
  color: white;
  background: #336699;
  background-image: none
}

.wizardtitle-background {
  color: white;
  background: #336699;
  background-image: none
}

.steptitle-background {
  color: black;
  background: #9fdaff;
  background-image: none
}

.step-background {
  color: black;
  border: solid #9fdaff;
  background: white;
  background-image: none
}

.advanced-title-background {
  color: black;
  border: none;
  background-color: #9fdaff;
  text-align: left;
  background-image: none
}

.advanced-background {
  color: black;
  border: solid #9fdaff;
  background-color: white;
  text-align: left;
  background-image: none
}

.separator-background {
  color: black;
  border: none;
  background-color: #9fdaff;
  text-align: left;
  background-image: none
}

.sidenav {
  color: black;
  background: white;
  background-image: none
}

.content-background {
  border: none;
  background: white;
  background-image: none;
  text-align: left;
}

.top-info-background {
  font-size: 11px;
  color: black;
  background: black;
  background-image: none
}

.behind-main-tabs-background {
  color: black;
  background: #e8f7f7;
  background-image: none
}

.tab-selected {
  font-weight: bold;
  margin: 0px;
  cursor: default;
  color: white;
  background-color: #336699;
  background-image: none;
  font-size: 80%;
}

.tab {
  margin: 0px;
  cursor: default;
  color: black;
  background-color: #9fdaff;
  background-image: none;
  text-decoration: none;
  font-size: 80%;
}

.subtab-selected {
  font-weight: bold;
  margin: 0px;
  cursor: default;
  color: black;
  background-color: white;
  background-image: none;
  font-size: 80%;
}

.subtab {
  margin: 0px;
  cursor: default;
  color: black;
  background-color: #9fdaff;
  background-image: none;
  text-decoration: none;
  font-size: 80%;
}

.tab-dropshadow {
  background-color: black;
  background-image: none
}

/* style used for welcome page heading */
.welcome-pageheader {
  margin-bottom: 4pt;
  margin-top: 0pt;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  color: #336699;
}

/* style used for content/page heading */
.pageheader {
  margin-bottom: 4pt;
  margin-top: 0pt;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  color: #336699;
}

.instructions {
  font-style: normal; /* using 'italic'  to test */
}

.spacer {
  font-size: 30%;
}

body {
  border-right: 0px;
  padding-right: 0px;
  border-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  margin: 0px;
  border-left: 0px;
  padding-top: 0px;
  border-bottom: 0px;
  background-color: #ffffff
}

/* =======  top nav bar ======= */
.topbarbig {
  line-height: 22px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* style for first line of the product name in the top nav bar */
.topbarsmall {
  line-height: 16px;
  font-size: 14px;
  color: white;
}

/* style for white text */
.whitetext {
  line-height: 16px;
  font-size: 12px;
  color: #ffffff;
}

a:link {
  background: none transparent scroll repeat 0% 0%;
  color: #0000aa;
  font-size: 100%;
}

a:active {
  background: none transparent scroll repeat 0% 0%;
  color: #0000aa;
  font-size: 100%;
}

a:visited {
  background: none transparent scroll repeat 0% 0%;
  color: #0000aa;
  font-size: 100%;
}

a:hover {
  background: none transparent scroll repeat 0% 0%;
  color: #aa00aa;
  font-size: 100%;
}

.logout:link {
  background: none transparent scroll repeat 0% 0%;
  color: #e8f7f7;
  font-size: 100%;
}

.logout:active {
  background: none transparent scroll repeat 0% 0%;
  color: #ff0000;
  font-size: 100%;
}

.logout:visited {
  background: none transparent scroll repeat 0% 0%;
  color: #e8f7f7;
  font-size: 100%;
}

.logout:hover {
  background: none transparent scroll repeat 0% 0%;
  color: #ffffff;
  font-size: 100%;
}

td,li,dl,ol,ul,blockquote,span,br,p {
  
}

code {
  font-family: courier
}

pre {
  margin: 12pt
}

.log {
  font-size: 14px
}

div.content {
  padding-right: 4pt;
  padding-left: 4pt;
  padding-bottom: 4pt;
  padding-top: 4pt;
  margin: 4pt;
}

p.content {
  padding-right: 4pt;
  padding-left: 4pt;
  padding-bottom: 4pt;
  margin: 4pt;
  padding-top: 4pt;
  font-size: 80%;
}

span.banner {
  font-size: 100%;
  font-weight: bold;
  color: white;
}

.title {
  color: white;
}

.heading {
  font-size: 80%;
  font-weight: bold;
  background-color: #9fdaff;
}

.sub-heading {
  font-size: 80%;
  font-weight: bold;
}

p.headerlink {
  padding-right: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  margin: 0pt 0pt 0pt 8pt;
  padding-top: 0pt;
  font-size: 80%;
  height: 0pt
}

p.dialoglink {
  padding-right: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  margin: 0pt;
  color: red;
  padding-top: 0pt;
  font-size: 80%;
  height: 0pt
}

span.wizardtitle {
  font-weight: bold;
  color: white;
}

span.steptitle {
  font-weight: bold;
  color: black;
}

span.advancedtitle {
  font-weight: bold;
  color: black;
  background-color: #9fdaff;
}

span.advancedlink {
  color: black;
  background-color: #9fdaff;
}

span.separatortitle {
  font-weight: bold;
  font-size: 80%;
  color: black;
  background-color: #9fdaff;
}

span.table-bold {
  font-weight: bold;
  font-size: 80%;
  color: black;
}

span.table-normal {
  color: black;
  font-size: 80%;
}

span.copyright {
  font-size: 80%;
}

span.headerstatus {
  font-size: 80%;
  color: #ffffff;
}

span.bannerstatus {
  color: #ffffff;
  font-size: 80%;
}

span.smallhyperlinks {
  font-size: 70%
}

span.mediumhyperlinks {
  font-size: 80%
}

.column-header {
  font-weight: bold;
  margin: 0px;
  font-size: 80%;
  background-color: #9fdaff
}

span.error {
  color: #ad0e25;
  font-weight: bold;
  margin: 0;
}

span.errorlink {
  text-decoration: underline;
  color: #ad0e25;
  font-weight: bold;
  margin: 0;
}

span.message-error {
  color: #ad0e25;
  font-weight: bold;
  margin: 0;
}

span.message-normal {
  color: black;
  font-weight: bold;
  margin: 0;
}

span.message-warning {
  color: black;
  font-weight: bold;
  margin: 0;
}

span.message-success {
  color: #28ad0e;
  font-weight: bold;
  margin: 0;
}

span.dialog-info {
  color: black;
  font-size: 80%;
}

span.dialog-label {
  font-weight: bold;
  font-size: 80%;
  color: black;
}

span.dialog-label-disabled {
  font-weight: bold;
  font-size: 80%;
  color: gray;
}

span.dialog-help {
  color: #333333;
  font-size: 80%;
}

span.dialog-help-disabled {
  color: #333333;
  font-size: 80%;
}

span.group-link {
  font-weight: bold;
}

span.dialog-label-small {
  font-weight: bold;
  font-size: 70%;
}

span.dialog-content {
  color: #000000;
  font-size: 80%;
}

span.dialog-units {
  font-weight: bold;
  margin: 0px;
  font-size: 80%;
}

span.alert {
  font-weight: bold;
  font-size: 80%;
  color: #ad0e25;
}

span.message {
  font-size: 80%;
}

.buttons {
  background-color: #e8f7f7;
  font-size: 80%;
  background: #9fdaff;
  border-bottom: 1px solid #336699;
  border-right: 1px solid #336699;
  border-left: 1px solid #9fdaff;
  border-top: 1px solid #9fdaff;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.chooserButtonsEnabled {
  background-color: #e8f7f7;
  font-size: 80%;
  background: #9fdaff;
  border-bottom: 1px solid #336699;
  border-right: 1px solid #336699;
  border-left: 1px solid #9fdaff;
  border-top: 1px solid #9fdaff;
  padding-left: 4px;
  padding-right: 4px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.chooserButtonsDisabled {
  background-color: #e8f7f7;
  font-size: 80%;
  background: #9fdaff;
  border-bottom: 1px solid #336699;
  border-right: 1px solid #336699;
  border-left: 1px solid #9fdaff;
  border-top: 1px solid #9fdaff;
  padding-left: 4px;
  padding-right: 4px;
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.logAndExceptionTable {
  background-color: #eeeeee;
  border-color: #ffffff #cccccc #ffffff #cccccc;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-right-width: 0px;
  border-top-width: 1px;
}
