@charset "UTF-8";

html {
  font-size: 14px;
  font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
  overflow-x: visible;
}

body {
  margin: 0px;
  background-color: #DFE8F6;
}

#menu {
  padding: 10px 20px 10px 20px;
  background: #D5E2F2;
  border: #fff 2px solid;
  width: 113px !important;
  width: 155px;
}

#menu ul {
  margin: 0px;
  padding: 0px;
  border: medium none;
  line-height: normal;
  list-style-type: none;
}

#menu li {
  margin: 0px;
}

#menu li a {
  padding: 5px 0px 5px 15px;
  border-top: #fff 1px solid;
  display: list-item;
  font-weight: bold;
  background: url("../images/menu_dot.gif") transparent no-repeat 2px 8px;
  width: 100%;
  color: #444;
  text-decoration: none;
}

#menu li a:hover {
  background: url("../images/menu_dot1.gif") #c61c18 no-repeat 2px 8px;
  color: #fff;
}

#message {
  font-weight: bold;
  text-align: center;
}
